* {
    margin: 0;
    padding: 0;
}

#mains > div {
    text-align: center;
}
#mains > div > kbd {
    border: 1px solid red;
    display: inline-block;
    width: 4em;
    height: 4em;
    text-transform: uppercase;
    position: relative;
}

#mains > div > kbd button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

#mains > div > kbd:hover > button {
    display: inline-block;
}